<!DOCTYPE html>
<html>
    <body>
        <% @articles.each do |article|%>
            <h2><%= article.title %></h2>
            <h3><%= article.content  %></h3><br>
        <% end %>
    </body>
</html>