<!DOCTYPE html>
<html>
    <body>
       <form method="POST" action="/articles">
            <h2><label for="title">Enter title of new article:</label></h2>
            <input type="text" name="title" id = "title"><br>
            <h2><label for="content">Enter story: </label></h2>
            <input type="text" name="content" id = "content">
            <input type="submit" id="submit">
       </form>
    </body>
</html>